body{
    text-align: center;
        background: linear-gradient(#a840ed 0%, #000000 100%);
  color: white
}
img{
    width: 175px;
    margin-bottom: 0px;
    border-radius: 50%; 
}
.line{
    height: 6px;
        background-color: black;
    width: 70px;
        margin: 8px auto;
} 